<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div th:fragment="navibar">
        <p>
            <span th:text="${#authentication.principal.nickname}">닉네임</span>님
        </p>
        <div>
            <form id="form-logout" action="../../page/index-guest.html" method="post" th:action="@{/logout}"></form>
            <button form="form-logout">로그아웃</button>
        </div>
    </div>
</header>
<a href="navibar.html">Navibar 전체보기</a>
</body>
</html>